.container{
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #000000, #00123B );
  z-index: 999999999 !important;
  position: absolute;
  margin-top: 100vh;

  @media(max-width: 768px){
    width: 90%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
  }
}

.title{
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
}

.description{
  color: #fff;
  width: 90%;
  max-width: 768px;
  font-size: clamp(16px, 5vw, 22px);
  margin-bottom: 32px;
  font-weight: lighter;
  line-height: 25px;
  font-family: "Darker Grotesque";

  @media (max-width: 768px) {
    width: 100%;
    max-width: 460px;
    line-height: 20px;
    margin-bottom:0px;
  }
}

.button{
  max-width: 600px;
  width: 80%;
  height: 70px;
  margin: 16px auto;
  border: none;
  font-size: 20px;
  background-color: #aaa;
  background-image: linear-gradient(to right, #05b, #28d);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media ( max-height: 650px ) {
    margin: 12px auto;
    height: 60px;
  }

}

.link{
  color: #fff;
  text-decoration: none;
}

.anchor{
  color: #fff;
  cursor: pointer;
  margin-top: 64px;
  text-decoration: none;
  font-family: 'Darker Grotesque';
  font-size: 20px;
}

.disclaimer{
  color: #f30;
}