.container{
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; */

	@media ( max-height: 650px ) {
    margin: 16px auto;
  }

  @media(max-width: 768px){
    width: 90%;
  }
  
}

.title{
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
}

.description{
  color: #fff;
  width: 90%;
  max-width: 768px;
  font-size: clamp(18px, 5.2vw, 22px);
  margin-bottom: 32px;
  font-weight: lighter;
  line-height: 25px;
  font-family: "Darker Grotesque";
}

.button{
  max-width: 600px;
  width: 80%;
  height: 70px;
  margin: 16px auto;
  border: none;
  font-size: 20px;
  background-color: #aaa;
  //background-image: ${({disabled}) => disabled ? 'none' : `linear-gradient(to right, #05b, #28d)`};
  background-image: linear-gradient(to right, #05b, #28d);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media(max-width: 768px){
    //width: 360px;
  }

  @media ( max-height: 650px ) {
    margin: 12px auto;
    height: 60px;
  }

}

.link{
  color: #fff;
  text-decoration: none;
}