
@import "./abstract/colors";
@import "./abstract/spacing";
@import "./abstract/typography";

@import "./utils/spacing";


*{
  margin: 0 auto;
  padding: 0;
  z-index: 2;
}

body, html{
  overflow: hidden;
  font-family: 'Darker Grotesque', sans-serif;
  background-color: rgba(10,10,10,.5);
  height: 100vh;

  .background-gif{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    @media(max-width: 768px){
      background-image: url('../public/circuits.gif');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0px 0px;
    }
  }
}

@-ms-viewport{
  width: device-width;
}

.flickity-button{
  display: none;
}

.carousel{
  outline: none;
}

