html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@import "./abstract/colors";
@import "./abstract/spacing";
@import "./abstract/typography";

@import "./utils/spacing";


*{
  margin: 0 auto;
  padding: 0;
}

body, html{
  overflow: hidden;
  font-family: 'Darker Grotesque', sans-serif;
  background-color: #111;
}

@-ms-viewport{
  width: device-width;
}

.flickity-button{
  display: none;
}

.carousel{
  outline: none;
}

